div.navLinkContainer > a {
  text-decoration: none;
  padding: 12px 63px 12px 54px !important;
  color: white;
  background-color: black;
  display: inline-block;
}

a.active {
  background-color: #04aa6d;
  color: #ffffff;
}

a:hover {
  background-color: #000000;
  color: #ffffff;
}
