div.navLinkContainer > a {
  text-decoration: none;
  padding: 10px 25px 12px 25px !important;
  color: white;
  background-color: black;
  display: inline-block;
  font-size: 12px;
}

a.active {
  background-color: #04aa6d !important;
  color: #ffffff !important;
}

a:hover {
  background-color: #000000;
  color: #ffffff;
}
