.add-user-form {
  height: auto;
  width: 354px;
  background-color: lightblue;
  margin-left: 25%;
  margin-top: 5%;
}

form {
  padding: 25px;
}

.btn-container {
  margin-top: 10px;
}

.error-message {
  color: red;
}

label:not(.form-check-label) {
  font-weight: bold;
}
